
.link:hover{
    color: #c70000;
}


.input::-webkit-input-placeholder {
    color: #ddd;
    font-family: calibri;
    font-size: 1.2em;
}

.input:focus {
    outline-color: #fff;
}


.searchContainer{
    width: 35%;
    height: 40px;
    border: solid 1px #c4c6ca;
    border-radius: 3px;
    margin-left: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    background-color: #fff;
  
}

.input {
    flex:1;
    color:#666;
    font-size: 0.9em;
    margin-left: 10px;
    margin-right: 10px;
    border:none;
    font-weight: 300;
}


.btnSearch{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: solid 1px #ddd;
    cursor:pointer;
}